<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AIChatBotCarManual</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container py-3">
       <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img src="/images/vwlogo.svg" alt="VW Logo" width="45" height="35" />
                <span class="fs-4">Volkswagen Vehicle Care</span>
              </a>

              <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="m-3 py-2 text-dark text-decoration-none" href="#">Find a Dealership</a>
                <a class="m-3 py-2 text-dark text-decoration-none" href="#">Book a Service</a>
                <a class="m-3 py-2 text-dark text-decoration-none" asp-controller="Chat" asp-action="Index">Diagnose a Problem</a>
                <a class="m-3 py-2 text-dark text-decoration-none" href="#">Contact us</a>
              </nav>
            </div>

            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
              <h1 class="display-4 fw-normal">Servicing, Maintenance and Vehicle Care</h1>
              <p class="fs-5 text-muted">All the necessary options in regards to vehicle servicing, service plans, maintenance, care and diagnosing vehicle problems.</p>
            </div>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - AI Chat-Bot Car Manual - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
